@model ClinicSystem.Models.DistrictViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Patients" asp-action="Index" method="get">
    <p>

        <select asp-for="PatientDistrict" asp-items="Model.Districts">
            <option value="">All</option>
        </select>

        Please insert IIN: <input type="text" name="SearchString">
        <input type="submit" value="Find" />
    </p>
</form>
<p>
    <a asp-action="IndexVisit">See all history</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Iin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].District)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Patients)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="CreateVisit" asp-route-id="@item.Id">Add history</a> |
            </td>
        </tr>
        }
    </tbody>
</table>
