@model IEnumerable<ClinicSystem.Models.Visit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visit Index</h2>

<form asp-controller="Patients" asp-action="IndexVisit" method="get">
    <p>
        <input type="hidden" name="Patient.Iin">
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complaint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                <a asp-action="EditVisit" asp-route-id="@item.VisitId">Edit</a> |
                <a asp-action="DetailsVisit" asp-route-id="@item.VisitId">Details</a> |
                <a asp-action="DeleteVisit" asp-route-id="@item.VisitId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>